/* https://hocwebchuan.com/tutorial/scss/scss_auto_compile.php
Add property "scss": "node-sass --watch ./src/App.scss -o css" to "scripts": {} in package.json
npm run scss -> auto compile scss to css
sass ./src/App.scss ./src/css/App.css -> Convert manually scss to css if auto compiler fail
background: -webkit-linear-gradient(to right, #ff4500, #FFFFFF);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #ff4500, #FFFFFF);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial;
  font-size: 14px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: auto;
  margin: 60px auto;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  color: #ff4500;
}

.nav {
  background-color: #ff4500;
}

.nav-link {
  color: white;
}

.nav-tabs .nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: #ff4500;
  background-color: white;
}

.content {
  display: flex;
  flex-flow: row;
  margin-left: 10%;
  height: auto;
}

.section {
  width: 60%;
  height: auto;
  margin-right: 5%;
}

.aside {
  width: 40%;
  height: auto;
}

.footer {
  background-color: #ff4500;
  font-size: 16px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  float: left;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.border-success {
  padding: 10px;
}
.row-cols-2 {
  margin: 10px;
  padding: 10px;
}
.col-mb-3 {
  margin: 10px;
}
/*
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
}
*/
.suggestImage {
  display: inline-block;
  align-items: left;
  max-width: 100%;
  height: auto;
  margin: 10px 10px;
  filter: drop-shadow(0 0 5px #ff4500);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.suggestImage:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.horizontalImage {
  width: 100%;
  margin: 10px 10px 10px 0px;
}
.fluent{
  background-color: #ffffffcc;
  opacity: 0.8;
}
.card {
  background-color: #ffffffcc;
  opacity: 0.9;
  font-size: 12px;
  width: 12rem;
  padding: 10px;
}
.logo {
  margin: 5% 0% 0% 20%;
}

h1 {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
.registform {
  background-image: url("../assets/WinterSunset.jpg");
  opacity: 0.9;
  margin: 50px auto;
  padding: 20px;
  width: 50%;
  height: auto;
  border: 2px solid #ff4500;
  font-weight: bold;
}

#registerbutton {
  margin: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  color: #ff4500;
  background-color: transparent;
  border: 3px solid #ff4500;
  transition: 0.3s;
}

#registerbutton:hover {
  animation: pulse 1s infinite;
  transition: 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.button {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.btn-outline-success {
  margin: auto;
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .header {
    font-size: 22px;
  }

  .nav {
    font-size: 14px;
  }

  li a {
    padding: 5px;
  }

  .content {
    flex-direction: column;
  }

  .section {
    width: 90%;
  }
  .aside {
    width: 90%;
  }
  .card {
    width: 80%;
    margin: 10px 10px;
    padding: 5px;
  }
  .registform {
    width: 80%;
  }
  h2 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=App.css.map */

/*# sourceMappingURL=App.css.map */
